.App {
  text-align: center;
}

.App-header {
  background-color: rgba(107, 1, 72, 0.5);
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 28px;
}

.appContent {
  margin: 50px;
  opacity: 0.5;
}

.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}

  /* Fancy Anim */
  .glow {
    animation-duration: 1s;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  @keyframes glow {
    from {
      text-shadow: -2px 2px rgb(253, 0, 169);
    } to {
      text-shadow: 2px 2px rgb(0, 0, 0);
    }
  }
