:root {
  --black: rgba(0, 0, 0, 1);
  --dark-grey: rgba(0, 0, 0, 0.60);
  --light-grey: rgba(238, 238, 238, 1);
  --white: rgba(255, 255, 255, 1);
  --red: rgba(225, 98, 89, 1);
  --primary: rgba(107, 1, 72, 1);
  --box-shadow: rgba(0, 0, 0, 0.20);
}

.App {
  text-align: center;
}

h1 {
  font-size: 28px;
}

.appContent {
  margin: 50px;
  opacity: 0.5;
}

.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}

  /* Fancy Anim */
  .glow {
    animation-duration: 1s;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
  @keyframes glow {
    from {
      text-shadow: -2px 2px rgb(253, 0, 169);
    } to {
      text-shadow: 2px 2px rgb(0, 0, 0);
    }
  }
